# .gitignore para proyectos C#

## Carpeta binarios
bin/
obj/

## Archivos de configuración
*.suo
*.user
*.suo
*.user
*.sln.docstates

## Carpetas de respaldo
_UpgradeReport_Files/
Migrations/
Backup*/
UpgradeLog*.XML